// Text fade
.scroll-fade-text {
    min-height: 1em; // Firefox Jank

    // Straight fade directions
    &.f-u span {
        transform: translate(0, 1em);
    }

    &.f-r span {
        transform: translate(1em, 0);
    }

    &.f-d span {
        transform: translate(0, -1em);
    }

    &.f-l span {
        transform: translate(-1em, 0);
    }

    // Diagonal fade

    &.f-u-r span {
        transform: translate(1em, 1em);
    }

    &.f-d-r span {
        transform: translate(1em, -1em);
    }

    &.f-u-l span {
        transform: translate(-1em, 1em);
    }

    &.f-d-l span {
        transform: translate(-1em, -1em);
    }

    // Mirror fade

    &.f-mirror span {
        transform: rotateX(100deg);
        transform-origin: center;
        transition: 1s ease !important;
    }

    &.f-mirror-reverse span {
        transform: rotateX(-100deg);
        transform-origin: center;
        transition: 1s ease !important;
    }
}

// Basic fades
.scroll-fade {
    transition: 1s !important;

    // Delays
    &.delay-1 {
        transition-delay: .05s !important;
    }

    &.delay-2 {
        transition-delay: .1s !important;
    }

    &.delay-3 {
        transition-delay: .015s !important;
    }

    &.delay-4 {
        transition-delay: .2s !important;
    }

    &.delay-5 {
        transition-delay: .025s !important;
    }

    &.delay-6 {
        transition-delay: .3s !important;
    }

    &.delay-7 {
        transition-delay: .35s !important;
    }

    // Directional fades

    &.f-u {
        transform: translate(0, 10em);
    }

    &.f-r {
        transform: translate(10em, 0);
    }

    &.f-d {
        transform: translate(0, -10em);
    }

    &.f-l {
        transform: translate(-10em, 0);
    }

    // Diagonal fade

    &.f-u-r {
        transform: translate(10em, 10em);
    }

    &.f-d-r {
        transform: translate(10em, -10em);
    }

    &.f-u-l {
        transform: translate(-10em, 10em);
    }

    &.f-d-l {
        transform: translate(-10em, -10em);
    }

    // Mirror fade
    &.f-mirror {
        transform: rotateY(100deg);
        transform-origin: center;
    }

    &.f-mirror-reverse {
        transform: rotateY(-100deg);
        transform-origin: center;
    }

    // Scale fade
    &.f-scale {
        transform: scale(0);
    }

    // Scale rotate fades
    &.f-scale-rotate {
        transform: scale(0) rotate(45deg);
    }

    &.f-scale-rotate-reverse {
        transform: scale(0) rotate(-45deg);
    }
}


.scroll-fade-invisible { /* Invisible class */
    opacity: 0;
}

.scroll-fade-fade-in { /* Visible class */
    opacity: 1;
    transform: scale(1) translate(0) rotateX(0) rotateY(0) !important;
    transition: opacity 0.8s ease, transform 0.5s;
}
