// Text fade ( BETA, NOT STABLE ENOUGH FOR COMMERCIAL USE. )
.scroll-fade-text {
    min-height: 1rem; // Firefox Jank

    span {
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        padding: inherit;
        margin: inherit;
        color: inherit;
    }

    // Straight fade directions
    &.f-u span {
        transform: translate(0, 1rem);
    }

    &.f-r span {
        transform: translate(1rem, 0);
    }

    &.f-d span {
        transform: translate(0, -1rem);
    }

    &.f-l span {
        transform: translate(-1rem, 0);
    }


        // Diagonal fade

    &.f-u-r span {
        transform: translate(1rem, 1rem);
    }

    &.f-d-r span {
        transform: translate(1rem, -1rem);
    }

    &.f-u-l span {
        transform: translate(-1rem, 1rem);
    }

    &.f-d-l span {
        transform: translate(-1rem, -1rem);
    }

    // Mirror fade

    &.f-mirror span {
        transform: rotateX(100deg);
        transform-origin: center;
        transition: 1s ease !important;
    }

    &.f-mirror-reverse span {
        transform: rotateX(-100deg);
        transform-origin: center;
        transition: 1s ease !important;
    }
}

// Basic fades
.scroll-fade {
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) !important;


    // Delays
    @for $i from 1 through 20 {
        &.delay-#{$i} {
            transition-delay: #{$i * 0.1}s !important;
        }
    }

    // Directional fades

    &.f-u {
        transform: translate(0, 6rem);
    }

    &.f-r {
        transform: translate(6rem, 0);
    }

    &.f-d {
        transform: translate(0, -6rem);
    }

    &.f-l {
        transform: translate(-6rem, 0);
    }

    // Diagonal fade

    &.f-u-r {
        transform: translate(6rem, 6rem);
    }

    &.f-d-r {
        transform: translate(6rem, -6rem);
    }

    &.f-u-l {
        transform: translate(-6rem, 6rem);
    }

    &.f-d-l {
        transform: translate(-6rem, -6rem);
    }

    // Mirror fade
    &.f-mirror {
        transform: rotateY(100deg);
        transform-origin: center;
    }

    &.f-mirror-reverse {
        transform: rotateY(-100deg);
        transform-origin: center;
    }

    // Scale fade
    &.f-scale {
        transform: scale(0);
    }

    // Scale rotate fades
    &.f-scale-rotate {
        transform: scale(0) rotate(45deg);
    }

    &.f-scale-rotate-reverse {
        transform: scale(0) rotate(-45deg);
    }
}


.scroll-fade-invisible:not(.scroll-fade-fade-in) { /* Invisible class */
    transition: 0s !important;
    opacity: 0;
}

.scroll-fade-fade-in { /* Visible class */
    opacity: 1;
    transform: scale(1) translate(0) rotateX(0) rotateY(0) !important;
    transition: opacity 0.8s ease, transform 0.5s;
}
